html {
    box-sizing: border-box;
    font-size: 100%;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
body {
    color: $dk-blue;
    background: $lt-gray;
    margin: 0;
    padding: 0;
    line-height: 1.3;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

h1,h2,h3{
    margin: 0;
    line-height: 1;
}

p{
    color: $gr-blue;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-left: 32px;
    padding-right: 32px;
    padding-top: 85px;
    padding-bottom: 78px;
}

//helper classes
.light{
    font-weight: 200;
}

.normal{
    font-weight: 400;
}

.bold{
    font-weight: 600;
}
